.product-img
    {   
        max-width: 100%;
    }
.product 
    {
        display: flex;
        color: whitesmoke;
    }
.product-left,
.product-right 
    {
        max-width: 30%;
    }
.container 
    {
        padding-top: 15px;
    }

.product-title 
    {
        padding: 20;
        width: 100%;
        padding: 40px 40px 140px 480px;
    }
.product-button 
    {
        border: 1px solid blue;
        max-width: max-content;
        padding: 5px 20px 5px 20px;
        border-radius: 40px;
        
    }
.product-button-white 
    {
        color: wheat;
    }
.product-button-black 
    {
        color: black;
        border-color: black;
    }