.product-img
    {   
        max-width: 100%;
    }
.product 
    {
        display: flex;
        color: whitesmoke;
    }
.product-left,
.product-right 
    {
        max-width: 30%;
    }
.container 
    {
        padding-top: 15px;
    }