         .order
            {
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              border: 1px black solid;
              padding-top: 100px; 
              padding-left: 110px;  
              max-width: 700px;
              max-height: 900px;
            } 
      

            .left
            {
             padding-top: 100px;
             padding-left:3%;
            }

            .address
            {
                padding-left: 140px;
                float: right;
                padding-right: 1%;
            }
            .fragrance 
            {
                float: left;
                padding-left: 11%;
            } 

            .submit
                {
                    border: none;
                    padding: 10px 8px 10px 8px;
                    transition-duration: 0.4s;
                }
            .submit:hover
                {
                    background-color: wheat;
                    color: black;
                }
           .btnn
            { 
                padding-left: 50px;
            }

            p{
                float: right;
                padding-right: 80px;
                padding-top: 200px;
                font-size: 18px;
                font-weight: 400;
            }