         .order
            {
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              border: 1px black solid;
              padding-top: 200px; 
              padding-left: 130px;  
              max-width: 400px;
              max-height: 900px;
            } 
         .order h2 
            {
                white-space: nowrap;

            }
            .left
            {
             padding-top: 200px;
             padding-left: 5%;
            }

            .address
            {
                padding-left: 140px;
                float: right;
            }
