body
    {
        background-color: rgba(249, 241, 230, 0.855);
    }
    h1{
        font-size: 20px;
        float:right;
        padding-top: 140px;
        padding-right: 240px;
    }

    h2{
        float: right;
        padding-top: 175px;
        padding-left: 40px;
    }
    
    .price {
        float: right;
        padding-top: 400px;
    }
    .buy
    { 
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .buynow
        {
            padding-left: 620px;
            float: inline-end; 
            
        }
   .product-img {
    width: 45%; 
    padding-left:230px; 
    padding-top: 160px;
   }
   .container
    {
        padding: 1920px;
    }

   