<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
    <link rel="stylesheet" type="text/css" href="orderpage.css">
</head>
<body>
    <?php 
    include("navbar.html");
    ?>

</div>
<div class="left">
    <div class="fragrance"><h1>Name of product</h1>
    </div>
    <div class="order">
       <div class="photo"> 
            <img src="photos/jean-paul.jpg" style="max-width: 500px; padding-left: 4%; padding-right: 200px;">
        </div>
        <h2>Order Now! afsdfsdfds</h2><br>
    </div>
</div>

<div class="address">
    <input type="text" class="adresz"> Адрес <br></input><br>
    <div class="btnn">
    <button type="submit" class="submit">Поръчай</button>
</div>
</div>
<?php 
 include("footer.html");
?>
</body>
</html>
