<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vsichko za nas us bateee</title>
    <link rel="stylesheet" type="text/css" href="aboutuspage.css?v=14">
</head>
<body>
    <?php 
    include("navbar.html");
    ?>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Tuk mojete da nauchite nqkolko neshta za nas</p>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <img src="photos/georgishishkov.jpg" alt="Vesko" style="width:10%; padding-left: 70px; ">
            <div class="container">
              <h2>YAVOR LUDIQ EBACH</h2>
              <p class="Title">James Deen</p>
              <p>eba qko</p>
              <p>ebach#1@gmail.com</p>
              <a href="https://www.instagram.com/yavor.dochev/">
                <button class="button">Contact</button>
              </a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="photos/mishotarikatska1.jpg" alt="Vesko" style="width:10%; padding-left: 70px; ">
            <div class="container">
              <h2>MISHO</h2>
              <p></p>
              <p>:)</p>
              <a href="https://www.instagram.com/ninov.11/">
                <button class="button">Contact</button>
              </a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="photos/VESKOBOG.jpg" alt="Vesko" style="width:10%; padding-left: 70px; ">
            <div class="container">
              <h2>VESKO NASH BOG</h2>
              <p class="title">Johhny sins</p>
              <p>Sex simvol na cqla Bulgaria. Nai-golemiqt ebach i seksapil.</p>
              <p>19507@uktc-bg.com</p>
              <a href="https://www.instagram.com/_atanasowww7/">
                <button class="button">Contact</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    
    
  <div class="maincontainer">

    <div class="thecard">

      <div class="thefront"><h1>Front of Card</h1><p>This is the front of the card. It contains important information. Please see overleaf for more details.</p></div>

      <div class="theback"><h1>Back of Card</h1><p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
      <button>Submit</button></div>

    </div>
  </div>

  



  
    <?php
    include("footer.html"); 
    ?>

</body>
</html>
