<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <title>About us - Parafimo</title>
    <link rel="stylesheet" type="text/css" href="aboutuspage.css?v=19">
</head>
<body>
    <?php 
    include("navbar.html");
    ?>
    <div class="about-section">
        <h1>Кои сме ние?</h1>
      </div>

    
<div class="first">
      <div class="maincontainer">
      <div class="thecard" style="width: 30%; float: left;">
          <div class="thefront"><img src="photos/veselin.jpg" alt="" style="width:100% ;">
            <div class="overlay">
            <h1>За Веселин</h1>
            </div>
          </div>
        <div class="theback"><h1>Ръководител на групата</h1>
        <p>Инициатор на проекта, използвал помощта на Явор и Михаил, курс 224 за направата на сайта.</p>
      </div>
    </div>
    <div class="thecard" style="width: 30%; float: right;">
      <div class="thefront"><img src="photos/yavor2.jpg" alt="" style="width:100% ;">
        <div class="overlay">
        <h1>За Явор</h1>
        </div>
      </div>
    <div class="theback"><h1>Част от екипа</h1>
    <p>Помощник на Веско в този проект, ученик в курс 224. Амбициозен и жаден за знания.</p>
  </div>
  </div>
  <div class="thecard" style="width: 30%; float: right;">
    <div class="thefront"><img src="photos/misho.jpg" alt="" style="width:100% ;">
      <div class="overlay">
      <h1>За Михаил</h1>
      </div>
    </div>
  <div class="theback"><h1>Част от екипа</h1>
  <p>Помощник на Веско в този проект, ученик в курс 224. Готин и висок.</p>
  </div>
  </div>
    </div>
</div>
  <?php 
  include("footer.html");
  ?> 
</body>
</html>
