<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <title>About us - Parafimo</title>
    <link rel="stylesheet" type="text/css" href="aboutuspage.css?v=20">
</head>
<body>
    <?php 
    include("navbar.html");
    ?>
    <div class="about-section" style="text-transform: capitalize;">
        <h1 style="font-weight: 600;">Кои сме ние? Нашият екип</h1>
      </div>

<div class="workers" style=" text-align: justify; margin-left: 20px; display: flex;">
  <p class="info" style="font-size: 16px; font-weight: 500; font-family:Arial, Helvetica, sans-serif; text-indent: 15px; max-width: 600px;">Нашата парфюмерия е оазис за всички любители на изисканите аромати. Разположена в сърцето на България, ние сме посветени на предлагането на най-висококачествени парфюми от целия свят. С нашата грижа за детайла и страст към изкуството на ароматите, създаваме уникално преживяване за нашите клиенти.

    В нашия магазин ще откриете широка гама от парфюми за всеки вкус и повод.<br>  Нашите продукти са подбрани с внимание към качеството и автентичността на аромата. Разполагаме с избрани марки и редки аромати, които ще задоволят и най-изтънчените вкусове.
    
    Ние вярваме в силата на ароматите да променят настроението и да подчертаят индивидуалността. <br> Затова се стремим да предложим нашите клиенти не просто продукти, а уникални емоционални преживявания, които остават запомнени.
    
    Нашето обещание е да предоставим нашите клиенти не само най-добрите парфюми, но и персонализирано обслужване, което отразява нашата любов към красотата и изискаността на ароматите. Добре дошли в нашия свят на удоволствието от парфюмите.
    
    </p>
    <div class="flips" style="float: right; display: flex; flex-direction: column; margin-left: 350px; margin-top: 20px;">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="photos/shefa.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Емануил Димитров</h1>
            <p>Архитект, съставател на проекта</p>
            <p>Млад и успешен</p>
          </div>
        </div>
      </div>
    </div>
</div>

<?php 
  include("footer.html");
  ?> 
</body>
</html>
