<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

</body>
    <title>
        
    </title>
</html>
<plaintext>
       
    1.     Какви лични данни обработваме?
    Ако използвате услугите на нашия електронен магазин или обекти (т.е. магазини или места за получаване на стоки), обработваме различни ваши лични данни.
    
    1.1. Ако пазарувате
    Данните, които ни предоставяте най-често, са получени чрез формуляра за поръчка на стоки или други услуги на уебсайта ни. Това са най-вече данни, необходими за сключване на договора за покупка.
    
    Тези данни са необходими за осъществяване на поръчката ви и могат да се разделят на следните групи:
    
    Данни за идентификация, които са име и фамилия, а ако пазарувате за фирма – идентификационен и данъчен номер;
    Данни за контакт, които са имейл адрес, пощенски адрес, адрес за фактуриране, телефонен номер, данни за банкова сметка, данни за плащане.
    Данни, произтичащи от действащия договор, по-конкретно закупени продукти, обем на предоставените услуги, потребителски сегмент. 
    1.2. Ако се регистрирате
    Ако желаете да използвате предимствата на клиентската сметка, е необходимо първо да се регистриране на уебсайта ни и следователно да сключите договор за т.нар. MyNotino клуб. Клиентската сметка е защитена с избрана от вас парола, до която ние нямаме достъп и в случай че я загубите, ние не можем по ваше искане да ви я изпратим или да ви генерираме нова парола.
    
    В рамките на сметката имате неограничен достъп до личните си данни, както и възможност за промяната им, когато е необходимо. В сметката можете да разглеждате историята на направените от вас поръчки, закупените продукти, както и незавършените поръчки. Посредством клиентската сметка можете също така да запазите данните на банковата си карта, да управлявате изпращането на информационни писма и да създавате т.нар. списък wishlist, в който можете да запазвате любимите си продукти.
    
    1.3. Ако сте абонирани за получаване на търговски съобщения
    Можете да се абонирате за получаване на търговски съобщения относно любими продукти, които сте закупили от нас. Можете да се откажете от получаването на съобщенията по всяко време посредством линка за отписване, който ще намерите в долната част на всеки имейл, съдържащ такива съобщения. Ако имате клиентска сметка, отписването е възможно също посредством сметката ви. Отказът от комуникация с рекламна цел е безплатен. 
    
    Ако сте регистриран клиент, можете да се абонирате за получаване на търговски съобщения също чрез SMS или push уведомления в мобилното ни приложение. Push уведомления, съдържащи търговски съобщения, можете да получавате и на Facebook, т.е. на Messenger. Тази обработка се ръководи от Декларацията за поверителност на съответната социална мрежа. Можете да се откажете от получаването на съобщения посредством тези канали по всяко време.
    
    Ако сте абонирани за получаване на такива съобщения, обработваме следните данни:
    
    Данни за идентификация, по-конкретно малко име;
    Данни за контакт, благодарение на които можем да комуникираме с вас, по-конкретно имейл адрес, а ако сте член на MyNotino клуб също и телефонен номер;
    Демографски данни, произтичащи от вашите настройки и поведението ви в уебсайта, които представляват данни за пола и предпочитания език.
    1.4. Ако посетите уебсайта ни или създавате съдържание в него
    Ако посетите уебсайта ни, по време на посещението ви събираме от вас различна информация, като например вашия IP адрес, настройките на браузъра и предпочитания език, посетените страници, както и времето на посещението. Освен това наблюдаваме движението ви в уебсайта, върху какви линкове кликвате, за да можем възможно най-добре да персонализираме съдържанието за вас и за да ви предложим продукти и съдържание, които ще ви допаднат.
    
    Когато посетите сайта ни, записваме във вашия браузър и устройство „бисквитки“ (cookies), които след това четем и на които е посветена отделна глава на настоящата Декларация.
    
    Освен „бисквитки“ обработваме и данните за вашето поведение на уебсайта ни, вашия IP адрес, данните, предоставени от вашия браузър и по-конкретно разделителната способност, операционната система на устройството ви и нейната версия и езикови настройки.
    
    Умеем също така да ви свържем със социалните мрежи, включително и да осигурим автоматично влизане във вашия профил в съответната социална мрежа. За осъществяване на това свързване, във връзка със статиите в блога, сайтът ни използва т.нар. социални плъгини, т.е. бутони за споделяне, благодарение на които можете да споделяте в своя профил избраното съдържание. След свързването, в социалните мрежи и на други уебсайтове може да ви се показват персонализирани предложения и целенасочени реклами, препращащи към нашия сайт.
    
    За да ви включим още повече в света на красотата, ние ви даваме възможност да бъдете активни на сайта ни и да създавате съдържание като рецензии за закупени продукти и определяне на предимствата им или коментари към статиите в блога. За да можете да създавате такова съдържание, не е необходимо да имате клиентска сметка. До коментарите ви може да бъдат посочени въведени от вас име и фамилия, ако ги попълните във формуляра. За съдържанието, което добавяте и активността си на нашия сайт, носите отговорност вие, затова ви призоваваме да не съобщавате по този начин лични данни, които не желаете да бъдат обществено достъпни.
    
    Уебсайтът ни може да съдържа линкове към други сайтове, които смятаме за практични и съдържат полезна информация. Затова бихме желали да ви предупредим, че тези сайтове може да са собственост и да се поддържат от други дружества и организации, които обработват личните данни съгласно своя Декларация за поверителност. Нашето дружество няма никакъв контрол над това обработване и не носи никаква отговорност за каквито и да било данни, материали, продукти или услуги, съдържащи се или достъпни посредством тези уебсайтове.
    
    1.5. Ако се свържете с нас на телефона на клиента или през социалните мрежи
    Ако решите да се свържете с нашата клиентска поддръжка по телефон или по имейл, обработваме преди всичко записи на телефонните разговори, които се наблюдават, както и записи на кореспонденцията по електронната поща.
    
    Ако се свържете с нас във връзка с ваше искане посредством сайта ни или профила ни в някои социални мрежи, обработката на личните ви данни се ръководи изключително от Декларацията за поверителност на дружеството, което управлява съответната социална мрежа.
    
    1.6. Ако посетите някой от магазините ни
    В нашите магазини и други помещения разполагаме камери за видеонаблюдение поради защита на законните ни интереси с цел защита на нашето и вашето имущество. Ако посетите наш магазин, обработваме видеозапис, на който е възможно да фигурирате. Всички помещения, в които са разположени камери, са надлежно обозначени с предупредителни знаци.
    
    1.7. Ако включите предупреждение за следене на наличност
    Ако продуктът, към който проявявате интерес, в момента не е наличен, ние ви предлагаме възможност да си настроите следене на наличността. В момента, когато продуктът отново постъпи в склада, ще ви информираме за това със съобщение, изпратено на посочения от вас имейл адрес, който обработваме с тази цел.
    
    1.8. Ако ни дадете оценка в порталите за оценка
    След получаване на стоки е възможно да получите покана да ги оцените и да изразите удовлетвореността си посредством избран портал за оценка. Ние сме изключително благодарни за всяка обратна връзка, но само от вас зависи дали ще решите да ни дадете оценка или не. Ако изпратите оценка, ние обработваме и предаваме на съответните партньори следните данни:
    
    Данни за контакт, по-конкретно имейл адрес, който служи за изпращане на покана за оценка;
    Данни, произтичащи от действащия договор, по-конкретно закупени продукти.
    1.9. Ако участвате в потребителски конкурс
    Посредством уебсайта ни или профил в социалните мрежи ние организираме за вас атрактивни конкурси, в които можете да се включите. Пълния текст на правилата ще намерите тук. Възможно е обявяването на победителя да бъде публично, което означава, че на уебсайта ни или в профила ни в дадената социална мрежа можем да публикуваме някои данни на победителя. Всяко действие или комуникация с нас посредством социалните мрежи и обработката на личните ви данни се ръководи от Декларацията за поверителност на дружеството, което стопанисва съответната социална мрежа.
    
    Ако се включите в конкурс, обработваме следните лични данни:
    
    Данни за идентификация, които са име и фамилия;
    Данни за контакт, по-конкретно вашия профил в социалните мрежи или имейл адрес, а при спечелване на награда също така адрес, пощенски адрес, адрес за фактуриране, телефонен номер, за да ви бъде изпратена.
    1.10. Ако се включите в потребителски тест или други организирани от нас събития
    Ако участвате в предлагана от нас програма за потребителски тестове, можем да обработваме следните данни:
    
    Данни за идентификация, които са име и фамилия;
    Данни за контакт, по-конкретно вашия имейл адрес и телефонен номер;
    Записи от видеонаблюдение, т.е. външния ви вид.
    Организираме за вас също така различни събития и мероприятия, при които може да обработваме следните данни:
    
    Данни за идентификация, които са име и фамилия, евентуално идентификационен и данъчен номер;
    Данни за контакт, по-конкретно вашия имейл адрес и телефонен номер.
    Ще ви информираме за конкретните лични данни, които обработваме за всяко събитие.
    
     
    
    2.      С каква цел обработваме лични данни?
    2.1. Закупуване на стоки и услуги
    Най-често обработваме личните ви данни с цел изпълнение на договор за покупка, за да можем успешно да обработим поръчката, която сте отправили посредством уебсайта ни, мобилно приложение или телефон на клиента, и да ви изпратим стоките. Имейл адресът и номерът на телефона служат за изпращане на потвърждение на поръчката, потвърждение за получаване на плащането, изпращане на електронна фактура, както и за периодично информиране относно състоянието на поръчката ви и евентуално друга индивидуална комуникация, свързана с конкретната поръчка.
    
    2.2. Клиентска сметка
    Ако сте регистриран клиент, обработваме личните ви данни с цел изпълнение на договора за MyNotino клуб, т.е. поддържането на вашата клиентска сметка, в рамките на която ви предлагаме редица предимства.
    
    2.3. Маркетингови предложения
    Изпращаме ви търговски съобщения за продукти, подобни на тези, които сте закупили от нас. По всяко време можете да се откажете от получаването на тези съобщения посредством линка за отписване, който ще намерите във всеки имейл, съдържащ такива съобщения. Ако сте регистриран клиент ви изпращаме търговски съобщения чрез SMS съобщения или push уведомления в мобилното ни приложение. Push уведомления, съдържащи търговски съобщения, можете да получавате и на Facebook, т.е. на Messenger. Тази обработка се ръководи от Декларацията за поверителност на съответната социална мрежа. Ако прекратите абонамента си за получаване на търговски съобщения, повече няма да използваме електронните ви контакти за тази цел. Отказът от комуникация с рекламна цел е безплатен. 
    
    2.4. Приспособяване и създаване на съдържанието, подобряване на хода на уебсайта
    Искаме да приспособим съдържанието за вас и да ви доставяме стоките, от които се интересувате. По тази причина използваме събраните лични данни за персонализиране на съдържанието и предложенията на нашия уебсайт. Маркетинговите предложения, които ви се показват, могат да бъдат избрани въз основа на друга информация, която сме събрали от вас с течение на времето в зависимост от данните за контакт и демографските данни, любимите ви продукти, както и други данни, свързани с използването на нашия уебсайт. Ние не извършваме изцяло автоматизирана обработка, която би имала правни последствия за вас.
    
    Обработваме данни за вашето поведение на уебсайта ни, което позволява да получим информация, въз основа на която можем непрекъснато да подобряваме сайта, така че потребителското преживяване да бъде възможно най-приятно за вас. Можем да използваме личните ви данни и за различни статистики, като например следене на посещаемостта или мерене на ефективността на дадена реклама, както и за тестване на нови функции на уебсайта ни или мобилното приложение. Данните за поведението ви на уебсайта ни са важни също и за предотвратяване на всякакви атаки спрямо уебсайта.
    
    На уебсайта ни можете също така да създавате определено съдържание. Ако решите да напишете рецензия на закупените от вас продукти, обработваме личните ви данни с цел обработка и изобразяване на въпросната оценка. Ако се включите в дискусията към статиите в нашия блог и ни напишете коментар, обработваме личните ви данни с цел обработка и изобразяване на въпросния коментар.
    
    2.5. Клиентска поддръжка и комуникация
    Непрекъснато се стремим да подобряваме услугите, които предоставя нашият отдел обслужване на клиенти, а за да можем да реагираме възможно най-бързо на вашите изисквания и да осигурим такова обслужване, имаме нужда от вашите лични данни за успешна обработка на вашите искания или отстраняване на потенциалните проблеми при изпълнението на договора за покупка или договора за MyNotino клуб. Ако се свържете с нас по телефона, след като предварително сме ви предупредили за това, ще записваме разговора с вас, за да можем да продължим да повишаваме качеството на услугите си.
    
    Събраните лични данни използваме също така с цел комуникация с вас и индивидуализирането ѝ. Възможно е например да се свържем с вас по телефона, чрез имейл, в мобилното приложение или по друг начин, за да ви припомним, че в кошницата ви има продукти или за да ви помогнем да довършите поръчката си. Също така за да ви съобщим актуалното състояние на вашето искане, поръчка или рекламация или евентуално за да получим допълнителна информация. Освен това можем да ви предупреждаваме, че трябва да извършите действие, което е необходимо за запазване на активното състояние на клиентската ви сметка.
    
    2.6. Записи от видеонаблюдение
    В нашите магазини и други помещения разполагаме камери за видеонаблюдение поради защита на законните ни интереси с цел защита на нашето и вашето имущество.
    
    2.7. Уведомяване за наличност на стока
    Ако настроите следене на наличността на изчерпана стока, в момента, в който продуктът отново постъпи в склада, ще ви информираме за това със съобщение, изпратено на посочения от вас имейл адрес.
    
    2.8. Установяване на удовлетвореността с помощта на портали за оценка
    Във връзка с покупката можете да получите също така покана за оценка посредством портал за оценка. В този случай целта на обработката е установяване на удовлетвореността.
    
    2.9. Потребителски конкурси
    Ако решите да участвате в организиран от нас конкурс, обработваме личните ви данни с цел осъществяване на конкурса, а ако спечелите награда – с цел публично обявяване на победителя и осъществяване на контакт с вас.
    
    2.10. Потребителски тестове и организиране на събития
    Ако вземете участие в предлагана от нас програма за потребителски тест, обработваме личните ви данни с цел тестване на нови или съществуващи функции на нашите системи.
    
    Ако вземете участие в събития, които организираме, обработваме личните ви данни с цел планиране, осъществяване и оценка на организираните събития.
    
    2.11. Подобряване на услугите
    Използваме личните ви данни за непрекъснато усъвършенстване на нашите услуги и системи, както и за добавяне на нови функции. Обработваме личните данни също така с цел да вземаме информирани решения, използвайки обобщени анализи и бизнес разузнаване въз връзка с нашия законен интерес, който произтича от свободата на развиване на бизнес дейност и се състои в необходимостта от подобряване на услугите с цел успех в икономическата надпревара. Но за да осигурим достатъчна защита на вашите права и интереси, използваме за тази цел лични данни, които са анонимизирани във възможно най-голяма степен.
    
    2.12. Защита, безопасност и решаване на спорове
    Вашите лични данни можем да съхраняваме също с цел осигуряване на защитата и безопасността на нашите клиенти и системи, за предявяване на нашите права и правни искания, установяване и превенция на измами, решаване на спорове или утвърждаване на нашите споразумения. Освен това можем да обработваме лични данни с цел евентуални проверки от обществените органи.