<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="photos/perfume.png">
    <link rel="stylesheet" type="text/css" href="danni.css">
</head>
<body>
    <?php 
        include("navbar.html");
    ?>
    

    <div class="moveeee">
    </div>
    <h1 class="heading">Вие успешно добавихте продукт в количката! </h1>

    <div class="positioning">
        <a href="index.php?controller=mproduct">
    <button>продължи пазаруването</button>
        </a>
    <a href="index.php?controller=shoppingcart&">
    <button>поръчай сега</button>
    </a>
    </div>

</body>
</html>