<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Често задавани въпроси</title>
    <link rel="stylesheet" type="text/css" href="faq.css?v=13">
</head>
<body>
    <?php 
    include("navbar.html");
    ?>
    <div class="about-section">
        <h1>Често задавани въпроси</h1>
        <p>Страница за да видите някои от често задаваните въпроси</p>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Какви са нашите парфюми?</h2>
              <p>Ние предлагаме 100% оригинални маркови парфюми на страхотни цени единствени на пазара!</p>
              <p>Всяка поръчка включва преглед и тест на продуктите да гарантираме качество и автентичност!</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Как става поръчката?</h2>
              <p>При избрания продукт трябва да цъкнете бутон "Купи сега!" това ще ви заведе в страницата за поръчка кудето слагате адрес цъкате поръчай и поръчката се финализира.</p>
              <p>Поръчката става много леско като поръчаш нещо ние моментално запазваме поръчката и чрез автоматизация, потвърждаваме като проверим наличност и валидност на поръчката.</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Какви методи за плащане приемаме?</h2>
              <p>Чрез наложен платеш</p>
              <p>Чрез "Visa" карта</p>
              <p>Чрез "Mastercard" карта</p>
              <p>Чрез "Revolut"</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <?php
    include("footer.html"); 
    ?>
</body>
</html>