<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница с Често Задавани Въпроси</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        .faq-section {
            margin-bottom: 20px;
        }

        .question {
            font-weight: bold;
        }

        .answer {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <h1>Често Задавани Въпроси</h1>

    <div class="faq-section">
        <div class="question">Кои сте вие?</div>
        <div class="answer">
            <a href="index.php?controller=aboutuspage">
                <button class="answer" onclick="myfun()">Ние сме</button>
            </a>
        </div>
    </div>

    <div class="faq-section">
        <div class="question">Как мога да се свържа със support?</div>
        <div class="answer">
            <a href="https://www.instagram.com/_atanasowww7/">
                <button class="answer" onclick="myfun()">Натиснете тук, за да се свържете с нас</button>
            </a>
        </div>
    </div>

    <div class="faq-section">
        <div class="question">Какво се случва с въведените от мен данни?</div>
        <div class="answer">
            <a href="index.php?controller=danni">
                <button class="answer" onclick="myfun()">Защита на вашите данни</button>
            </a>
        <div>
    </div>

    <div class="faq-section">
        <div class="question">Как да си избера парфюм, който наистина ще харесвам?</div>
        <div class="answer">
            Може да е трудно. „Намирането на правилния аромат е почти толкова трудно, колкото намирането на правилния мъж“,
            оплака се списание Allure. Може да смятате, че няма логика в избора ви на парфюми, защото обонянието ви е толкова емоционално, но ароматите, на които най-много се наслаждавате, вероятно ще принадлежат само на едно или две от четиринадесетте различни семейства аромати.
            Като повечето хубави неща, отнема малко усилия, за да намерите нов парфюм, който е точно както трябва. Опитайте нашия търсач на аромати и ние ще свършим тежката работа вместо вас.
            
        <div>
    </div>    


</body>
</html>
