<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
    .containerrr
    {
      padding-top: 100px;
    }

    body{
      display: grid;
      grid-template-rows: 1fr auto;
  min-height: 100vh;
  margin: 0;

    }
   
    </style>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<body>
<div class="containerrr"></div>
    <footer style="background-color: #f5e8d0dc;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963; font-weight: 600;">PARAFIMO</h5>
          <p style="letter-spacing: 1px; max-width: 450px; text-align: justify;" class="footerclass">
            Парфюмерията е изкуство, в което ароматите се превръщат в невидима поезия. Нашата колекция от изискани аромати предлага уникални комбинации, създадени с майсторско умение и страст към детайла. Разкрийте своята уникалност чрез неповторимите аромати, които предлагаме и се потопете в света на елегантност и чувственост.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963; font-weight: 600;">ЛИНКОВЕ</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1" style="padding-bottom: 10px;">
              <a href="index.php?controller=faqpage" style="color: #4f4f4f;">Често Задавани Въпроси</a>
            </li>
            <li class="mb-1" style="padding-bottom: 10px;">
              <a href="#!" style="color: #4f4f4f;">Доставяне</a>
            </li>
            <li class="mb-1" style="padding-bottom: 10px;">
              <a href="#!" style="color: #4f4f4f;">Цена на услугата</a>
            </li>
            <li>
              <a href="index.php?controller=aboutuspage" style="color: #4f4f4f;">За нас</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1" style="letter-spacing: 2px; color: #818963; font-weight: 600; padding-left: 65px;">РАБОТНО ВРЕМЕ</h5>
          <table class="table" style="color: #4f4f4f; border-color: #666;">
            <tbody>
              <tr>
                <td>Пон - Пет: </td>
                <td>8:00 - 19:00</td>
              </tr>
              <tr>
                <td>Съб - Нед:</td>
                <td>8:00 - 13:00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="text-dark">Омайте Сетивата, Определете Своята Същност: Разкрийте Симфонията от Аромати на PARAFIMO</div>
    </div>
  </footer>
</body>
</html>
