<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parafimo - с вас над 20 години!</title>
    <link rel="icon" type="image/x-icon" href="photos/perfume.png">
</head>
<body>
    <?php 
    include("navbar.html");
    ?>
    <link rel="stylesheet" type="text/css" href="homepage.css?v=11">
    <div class="container">
        <div class="product-container">
            <div class="product" style="background-color:rgb(29, 29, 29) ;">
                <div class="product-left">
                   <img class="product-img" src="photos/banner.jpg" alt="">
                </div>
                <div class="product-right">
                    <div class="product-title" style="font-size: 24px;">
                        Parafimo - с Вас 17 години!
                    </div>
                    <div class="product-description">
                        възползвайте се от промоцията на до -35% на продуктите в нашият сайт
                    </div>
                      <div class="move" style="padding-bottom: 10px;">
                         <div class="product-button" product-button-white>
                            <a href="index.php?controller=login" style="text-decoration: none; color: rgb(221, 217, 217); cursor: pointer;">
                            <p style="padding-left: 9px;">Влезте в профила си!</p>
                        </a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="example"></div>
        <img src="photos/female_perfume.jpg" alt="" style="height: 365px; width: 771px;">
        <img src="photos/jean-paul.jpg" alt="" style="float: left; width: 731px; height: 365px;">
        <div class="overlay-text">
            <a href="index.php?controller=registration" style="text-decoration: none; color: antiquewhite;">
            <h1>Направете своята регистрация!</h1>
            </a>
          </div>
    </div>
</body>
</html>