<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <?php 
    include("navbar.html");
    ?>
    <link rel="stylesheet" type="text/css" href="homepage.css?v=2">
    <div class="container">
        <div class="product-container">
            <div class="product" style="background-color:#000 ;">
                <div class="product-left">
                   <img class="product-img" src="photos/model.jpg" alt="">
                </div>
                <div class="product-right">
                    <div class="product-title" style="font-size: 24px;">
                        Parafimo - с Вас 17 години!
                    </div>
                    <div class="product-description"></div>
                        <div class="product-button" product-button-white>Join Parafimo Rewards!</div>
                </div>
            </div>
        </div>
    </div>
</head>
<body>
    
</body>
</html>