<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        * 
            {
                font-family:Arial, Helvetica, sans-serif;
                font-weight: 400;
                text-transform: uppercase;
            }
    </style>
    <?php 
    include("navbar.html");
    ?>
    <link rel="stylesheet" type="text/css" href="homepage.css?v=1">
    <div class="container">
        <div class="product-container">
            <div class="product" style="background-color:rgb(29, 29, 29) ;">
                <div class="product-left">
                   <img class="product-img" src="photos/model.jpg" alt="">
                </div>
                <div class="product-right">
                    <div class="product-title" style="font-size: 24px;">
                        Parafimo - с Вас 17 години!
                    </div>
                    <div class="product-description">възползвайте се от нашата промоция на до -35% на продуктите в нашият сайт</div>
                      <br><br><br>  <div class="product-button" product-button-white>Join Parafimo Rewards!</div>
                </div>
            </div>
        </div>
    </div>
</head>
<body>
    
</body>
</html>