<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <?php 
    include("navbar.html");
    echo $error
    ?>
    <form method="post" class="form">
        <label>Име:</label><br>
        <input type="text" name="name" class='form-control'><br>
        <label>Фамилия:</label><br>
        <input type="text" name="lname"  class='form-control'><br>
        <label>E-mail:</label><br>
        <input type="text" name="email"  class='form-control'><br>
        <label>Парола</label><br>
        <input type="password" name="password"  class='form-control'><br><br>
        <input type="submit" name="submit" value="Изпрати" class='btn btn-info w-100'>
</form>

</body>
</html>