<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multiple product view</title>
    <link rel="stylesheet" type="text/css" href="multiple-product.css?v=12">
</head>
<style>
    .row
        {
            text-transform: capitalize;
        }
        .no{
          border-bottom: none;
        }
        
   
</style>
<body>
    <?php 
    include("navbar.html");
    ?>
    

        <div class="row">

   <?php 
   foreach($data as $item){
   ?>
            <div class="column">
                <a href="index.php?controller=fperfumes&id=<?= $item['id']?>">
                <img src="<?= $item['product_image']?>" alt="" style="width: 33%; padding-left: 110px;" class="imga">
                <small><br><?= $item['name'] ?></small>
                <p>
                    Парфюмна вода за жени 100ml
                 </p>
                <small class="no"><?= $item['price']?></small>
                </a>
            </div>
            <?php
        }
        ?>
        
           
          </div>
 

  <!-- <div class="footer">
<?php 
include("footer.html");
?>   -->
</div> 
</body>
</html>