<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multiple product view</title>
    <link rel="stylesheet" type="text/css" href="multiple-product.css?v=14">
</head>
<style>
    .row
        {
            text-transform: capitalize;
        }
   
</style>
<body>
    <?php 
    include("navbar.html");


    ?>
    

    <h1 style="padding-top: 40px; font-size: 24px;">mujki perfumes</h1>
        <div class="row">

           <?php 
           foreach($data as $item){
           ?>

           <div class="column" >
            <a href="index.php?controller=perfumes&id=<?= $item['id'] ?>">
              <img src="<?= $item['product_image'] ?>" alt="">
              <small><br><?= $item['name'] ?></small>
              <p>Парфюмна вода за мъже 100ml</p>
              <small class="ss"><?= $item['price'] ?></small>
            </a>
          </div>
           <?php
        }
           ?>
           
          </div>
 
<!-- 
  <div class="footer">
<?php 
include("footer.html");
?>  
</div> -->
</body>
</html>