<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multiple product view</title>
    <link rel="stylesheet" type="text/css" href="multiple-product.css?v=10">
</head>
<style>
    .row
        {
            text-transform: capitalize;
        }
   
</style>
<body>
    <?php 
    include("navbar.html");
    ?>
    

    <h1 style="padding-top: 40px; font-size: 24px;">jenski perfumes</h1>
    <p>trebva da gi smena teq slimki i da avtomatiziram multiple products kakto single product ama she mi trebva malko pomo6 ot gospodina inache single product si vodi kym jenskite perfumes</p>
        <div class="row">

            <div class="column">
              <a href="index.php?controller=perfumes&id=12">
                <img src="perfumes/jean-p.jpg" alt="">
                <small><br>jean paul gaultier</small>
                <p>Парфюмна вода за мъже 100ml</p>
                <small class="ss">180,00lv</small>
              </a>
            </div>

            <div class="column">
                <a href="index.php?controller=perfumes&id=13">
                <img src="perfumes/armani-swy.jpg" alt="">
                <small><br> armani stronger with you</small>
                <p>Парфюмна вода за мъже 100ml</p>
                <small>180,00lv</small>
                </a>
            </div>

            <div class="column">
                <a href="index.php?controller=perfumes&id=14" >
                <img src="perfumes/black-xs.jpg" alt="">
                <small><br>black xs by paco rabanne</small>
                <p>Парфюмна вода за мъже 100ml</p>
                <small>180,00lv</small>
                </a>
            </div>
            <div class="column">
                    <a href="index.php?controller=perfumes&id=15">
                    <img src="perfumes/b-black-edition.jpg" alt="" style="width: 33%; padding-left: 110px;">
                    <small><br>bentley black edition</small>
                    <p>Парфюмна вода за мъже 100ml</p>
                    <small>85,00lv</small>
                    </a>
            </div>
            <div class="column">
                <a href="index.php?controller=perfumes&id=16" >
                <img src="perfumes/b-intense.jpg" alt="" style="width: 31%; padding-left: 115px;">
                <small><br>bentley intense</small>
                <p>Парфюмна вода за мъже 100ml</p>
                <small>95,00lv</small>
                </a>
                </div>
            <div class="column">
                    <a href="index.php?controller=perfumes&id=17">
                    <img src="perfumes/ch-badboy.jpg" alt="">
                    <small><br>carolina herrera bad boy</small>
                    <p>Парфюмна вода за мъже 100ml</p>
                    <small>145,00lv</small>
                    </a>
            </div>   
            <div class="column">
                <a href="index.php?controller=perfumes&id=18" >
                <img src="perfumes/hb-the-scent.jpg" alt="" style="width: 120%;">
                <small><br>hugo boss the scent</small>
                <p>Парфюмна вода за мъже 100ml</p>
                <small>95,00lv</small>
                </a>
            </div>

            <div class="column">
                <a href="index.php?controller=perfumes&id=19" >
                <img src="perfumes/l-hayaati.jpg" alt="" style="width: 11%; padding-left:140px;">
                <small><br>lattafa hayaati</small>
                <p>Парфюмна вода за мъже 100ml</p>
                <small>90,00</small>
                </a>
            </div>

            <div class="column">
                <a href="index.php?controller=perfumes&id=20">
                <img src="perfumes/mb-club.jpg" alt="" style="width: 33%; padding-left: 110px;">
                <small><br>mercedes-benz club</small>
                <p>Парфюмна вода за мъже 100ml</p>
                <small>90,50</small>
                </a>
            </div>

        
           
          </div>
 
<!-- 
  <div class="footer">
<?php 
include("footer.html");
?>  
</div> -->
</body>
</html>