<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multiple product view</title>
    <link rel="stylesheet" type="text/css" href="multiple-product.css?v=11">
</head>
<style>
    .row
        {
            text-transform: capitalize;
        }
        .no{
          border-bottom: none;
        }
        
   
</style>
<body>
    <?php 
    include("navbar.html");
    ?>
    

    <h1 style="padding-top: 40px; font-size: 24px;">jenski perfumes</h1>
    <p>trebva da gi smena teq slimki i da avtomatiziram multiple products kakto single product ama she mi trebva malko pomo6 ot gospodina inache single product si vodi kym jenskite perfumes</p>
        <div class="row">

   <?php 
   foreach($data as $item){
   ?>
            <div class="column">
                <a href="index.php?controller=perfumes&id=<?= $item['id']?>">
                <img src="<?= $item['product_image']?>" alt="" style="width: 33%; padding-left: 110px;">
                <small><br><?= $item['name'] ?></small>
                <p>Парфюмна вода за жени 100ml</p>
                <small class="no"><?= $item['price']?></small>
                </a>
            </div>
            <?php
        }
        ?>
        
           
          </div>
 
<!-- 
  <div class="footer">
<?php 
include("footer.html");
?>  
</div> -->
</body>
</html>