<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="navbar.css?v=4">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
    <img src="photos/logo.jpg" class="navbar-left">    
    
            <div>Парфюми</div>
            <div>Козметика</div>
            <div>Грим</div>
            <div>Лице</div>
        <div class="navbar-right">
        <div class="find-store">Намерете мазагин</div>
        </div>
        </div>  
        </div>

        <div class="container">
            <div class="product-container">
                <div class="product" style="background-color:#000 ;">
                    <div class="product-left">
                       <img class="product-img" src="photos/model.jpg" alt="">
                    </div>
                    <div class="product-right">
                        <div class="product-title">
                            Parafimo - с Вас 17 години!
                        </div>
                        <div class="product-description"></div>
                            <div class="product-button">Join Parafimo Rewards!</div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>