<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="navbar.css?v=5">
</head>
<body>
    <div class="navbar" style="background-color: rgb(242, 242, 242) ;">
        <div class="navbar-left">
    <img src="photos/logo.jpg.avif" class="navbar-left">    
    
            <div>Парфюми</div>
            <div onclick()="perfumes()">Козметика</div>
            <div>Грим</div>
            <div>Лице</div>
        <div class="navbar-right">
        <div class="find-store">Намерете мазагин</div>
        </div>
        </div>  
        </div>
        
</body>
</html>