<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="navbar.css?v=16">
</head>
<body>
    <div class="navbar" style="background-color: rgb(242, 242, 242);">
        <div class="navbar-left">
            <a href="index.php?controller=home">
                <img src="photos/logo.jpg.avif" class="navbar-left">    
            </a>    
            <a class="navbar-brand" href="index.php?controller=login" style="padding-right: 12px;">
                Вход 
            </a>
            <a class="navbar-brand" href="index.php?controller=sections" style="padding-right: 12px;">
                Парфюми
            </a>
            <a class="navbar-brand" href="index.php?controller=aboutuspage"style="padding-right: 12px;white-space: nowrap;">
                За нас
            </a>
        </div> 
    <div class="navbar-right">
        <div class="movee" style="padding-left:1150px ;">
        <div class="find-store" style="white-space: nowrap;">Намерете мазагин</div> 
        </div>
    </div>
    </div>   
</body>
</html>