<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
    <link rel="stylesheet" type="text/css" href="orderpage.css">
</head>
<body>
    <?php 
    include("navbar.html");
    ?>
<div class="left">
    <div class="order">
        <h1>Name of product</h1>
        <h2>Order Now!</h2><br>
    </div>
</div>

<div class="adress">
    <input type="text" class="name">Име</input>
    <input type="text" class="adresz"> Адрес</input><br>
    <button type="submit">Поръчай</button>
</div>




<?php 
 include("footer.html");
?>
</body>
</html>
