<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
    <link rel="stylesheet" type="text/css" href="orderpage.css?v=2">
</head>
<style>
    img{
        width: 78%;
    }
    .fragrance{
        text-transform: capitalize;
    }
</style>
<body>
    <?php 
    include("navbar.html");
    print_r($cart);
    ?>

</div>
<div class="left">
  
    <div class="fragrance"><h1 name="name"><?= $product['name']?></h1>
    </div>
 <p> <?=$product['price']?> Лева</p>
    <div class="order">
       <div class="photo"> 
            <img src="<?= $product['product_image']?>" style="max-width: 500px; padding-left: 4%; padding-right: 200px;">
        </div>
    </div>
</div>

<div class="address">
    <form method="post">
    <input type="text" class="adresz" name="adress"> Адрес <br></input><br>
    <div class="btnn">
      
    <button type="submit" class="submit" name="submit">Поръчай</button>
        <?php 
        if(isset($_POST['submit'])){
            header("location: index.php?controller=succesfulord");
            exit;}
            ?>
</form>
</div>
</div>
<?php 
 include("footer.html");
?>
</body>
</html>
