<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маркови и оригинални парфюми </title>
    <link rel="stylesheet" type="text/css" href="perfumes.css">
</head>
<body>
    <?php 
    include("navbar.html")
    ?>
   <img src="photos/jean-paul.jpg" class="product-img" alt="" style="width: 45%; padding-left:
    230px; padding-top: 160px;">
      <h1>Jean Paul Gaultier Scandal</h1> 
      <h2>Парфюмна вода за мъже</h2>

      <div class="price">275,00lv</div>
</body>
</html>