<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parafimo - Register</title>
    <style>
        form{
            padding-top: 50px;
        }
        
            .containerr {
      width: 580px;
      height: 500px;
      background-color: #f0f0f0;
      text-align: center;
      padding-top: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .form-control
    {
        width: 40%;
    }

    </style>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
    <?php 
    include("navbar.html");
    echo $error
    ?>
    <div class="move" style="padding-left: 570px; padding-top: 90px;">
    <div class="containerr">

    <form method="post" class="form" action="index.php?controller=registration">
        <label>Име:</label><br>
        <input type="text" name="name" class='form-control'><br>
        <label>Фамилия:</label><br>
        <input type="text" name="lname"  class='form-control'><br>
        <label>E-mail:</label><br>
        <input type="text" name="email"  class='form-control'><br>
        <label>Парола</label><br>
        <input type="password" name="password"  class='form-control'><br><br>
        <input type="submit" name="submit" value="Изпрати" class='btn btn-secondary w-100' style="padding-top:6px ;">
    </form>
</div>
</div>

<div class="footer">
<?php
include("footer.html"); 
?>
</div>
</body>
</html>

