<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping cart multiple product view</title>
    <link rel="icon" type="image/x-icon" href="photos/perfume.png">

</head>
<link rel="stylesheet"  type="text/css" href="shoppingcart.css?v=2">
<body>
    <?php 
    include("navbar.html");        
    ?>

 <div style="padding-top: 100px;"></div> 

<div class="productsz">
    
    <?php  foreach($product as $p) {?>
    <div class="itemss">
    <div class="itemz">
        <img src="<?= $p['product_image']?>" alt="" class="ph">
            <div class="title">
                <p class="title" style="padding-left:10px;"><?= $p['name']?></p>
                <small class="subtitle">Парфюмна вода за мъже 100мл.</small>
               <a href="index.php?controller=neword&id=<?=$p['id']?>">
                <button class="h6" >x</button>
                </a>
            </div>
            <small class="price"><?=$p['price']?></small>
    </div>
    <?php } ?>
    
</div>
<div class="complete">
    <h5> Общо: <?=  $sum['sum']?> лева</h5>
    <form method="post">
    <input type="text" class="adresz" name="adress" style="padding: 12px 30px 12px 30px;" required> Адрес <br></input><br>
    <button class="nz" type="submit" name="submit" style="margin-left: 30px;">завърши поръчката</button>
</form>
    </div>
</div>




<?php 
include("footer.html");
?>
</body>
</html>