<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="slider.css">
</head>
<body>
<?php 
include
?>

    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="photos/meteore.jpg" alt="ddz zavisi kuv e shibaniq image" />
                <img id="slide-2" src="photos/discount.jpg" alt="ddz zavisi kuv e shibaniq image" />
                <img id="slide-3" src="photos/jean-paul.jpg" alt="ddz zavisi kuv e shibaniq image" />
                <img id="slide-4" src="photos/for-her.jpg" alt="">
    
    
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
            </div>
    
        </div>
</section>
</body>
</html>